{% extends 'base.html.twig' %}

{% block title %}Workers index{% endblock %}

{% block body %}
    <h1>Workers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>WorkerId</th>
                <th>WorkerName</th>
                <th>WorkerSurname</th>
                <th>Email</th>
                <th>Password</th>
                <th>PhoneNumber</th>
                <th>Dni</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for worker in workers %}
            <tr>
                <td>{{ worker.workerId }}</td>
                <td>{{ worker.workerName }}</td>
                <td>{{ worker.workerSurname }}</td>
                <td>{{ worker.email }}</td>
                <td>{{ worker.password }}</td>
                <td>{{ worker.phoneNumber }}</td>
                <td>{{ worker.dni }}</td>
                <td>
                    <a href="{{ path('workers_show', {'workerId': worker.workerId}) }}">show</a>
                    <a href="{{ path('workers_edit', {'workerId': worker.workerId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('workers_new') }}">Create new</a>
{% endblock %}
