{% extends 'base.html.twig' %}

{% block title %}Workers{% endblock %}

{% block body %}
    <h1>Workers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>WorkerId</th>
                <td>{{ worker.workerId }}</td>
            </tr>
            <tr>
                <th>WorkerName</th>
                <td>{{ worker.workerName }}</td>
            </tr>
            <tr>
                <th>WorkerSurname</th>
                <td>{{ worker.workerSurname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ worker.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ worker.password }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ worker.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ worker.dni }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('workers_index') }}">back to list</a>

    <a href="{{ path('workers_edit', {'workerId': worker.workerId}) }}">edit</a>

    {{ include('workers/_delete_form.html.twig') }}
{% endblock %}
