{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1>Company index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CompanyId</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>CompanyName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.companyId }}</td>
                <td>{{ company.email }}</td>
                <td>{{ company.phoneNumber }}</td>
                <td>{{ company.companyName }}</td>
                <td>
                    <a href="{{ path('company_show', {'companyId': company.companyId}) }}">show</a>
                    <a href="{{ path('company_edit', {'companyId': company.companyId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('company_new') }}">Create new</a>
{% endblock %}
