{% extends 'base.html.twig' %}

{% block title %}Shift index{% endblock %}

{% block body %}
    <h1>Shift index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ShiftId</th>
                <th>WeekId</th>
                <th>DayId</th>
                <th>StartShift</th>
                <th>EndShift</th>
                <th>Swapping</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shift in shifts %}
            <tr>
                <td>{{ shift.shiftId }}</td>
                <td>{{ shift.weekId }}</td>
                <td>{{ shift.dayId }}</td>
                <td>{{ shift.startShift }}</td>
                <td>{{ shift.endShift }}</td>
                <td>{{ shift.swapping ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('shift_show', {'shiftId': shift.shiftId}) }}">show</a>
                    <a href="{{ path('shift_edit', {'shiftId': shift.shiftId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('shift_new') }}">Create new</a>
{% endblock %}
