{% extends 'base.html.twig' %}

{% block title %}ShiftType index{% endblock %}

{% block body %}
    <h1>ShiftType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ShiftTypeId</th>
                <th>ShiftType</th>
                <th>Swappable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shift_type in shift_types %}
            <tr>
                <td>{{ shift_type.shiftTypeId }}</td>
                <td>{{ shift_type.shiftType }}</td>
                <td>{{ shift_type.swappable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('shift_type_show', {'shiftTypeId': shift_type.shiftTypeId}) }}">show</a>
                    <a href="{{ path('shift_type_edit', {'shiftTypeId': shift_type.shiftTypeId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('shift_type_new') }}">Create new</a>
{% endblock %}
