{% extends 'base.html.twig' %}

{% block title %}Branch index{% endblock %}

{% block body %}
    <h1>Branch index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>BranchId</th>
                <th>BranchName</th>
                <th>Address</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for branch in branches %}
            <tr>
                <td>{{ branch.branchId }}</td>
                <td>{{ branch.branchName }}</td>
                <td>{{ branch.address }}</td>
                <td>{{ branch.phoneNumber }}</td>
                <td>{{ branch.email }}</td>
                <td>
                    <a href="{{ path('branch_show', {'branchId': branch.branchId}) }}">show</a>
                    <a href="{{ path('branch_edit', {'branchId': branch.branchId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('branch_new') }}">Create new</a>
{% endblock %}
